:root {
  --color-blackboard-border: #8d4e1a;
  --color-loading-border: rgba(255, 255, 255, 0.2);
  --color-loading-background: rgba(0, 0, 0, 0.3);
  --color-eraser: linear-gradient(0deg, #0c023a 80%, #a06b1c 80%);
  --color-wall-background: #ffffef;
  --color-white: white;

  /* https://cocopon.github.io/tweakpane/theming.html#builder */
  /* https://www.color-hex.com/color-palette/19601 */
  --tp-base-background-color: hsla(178, 42%, 67%, 1);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(0, 0%, 100%, 1);
  --tp-button-background-color-active: hsla(0, 0%, 85%, 1);
  --tp-button-background-color-focus: hsla(0, 0%, 90%, 1);
  --tp-button-background-color-hover: hsla(0, 0%, 95%, 1);
  --tp-button-foreground-color: hsla(230, 20%, 11%, 1);
  --tp-container-background-color: hsla(0, 0%, 0%, 0.2);
  --tp-container-background-color-active: hsla(0, 0%, 0%, 0.35);
  --tp-container-background-color-focus: hsla(0, 0%, 0%, 0.3);
  --tp-container-background-color-hover: hsla(0, 0%, 0%, 0.25);
  --tp-container-foreground-color: hsla(0, 0%, 100%, 0.9);
  --tp-groove-foreground-color: hsla(0, 0%, 0%, 0.5);
  --tp-input-background-color: hsla(0, 0%, 0%, 0.5);
  --tp-input-background-color-active: hsla(0, 0%, 0%, 0.65);
  --tp-input-background-color-focus: hsla(0, 0%, 0%, 0.6);
  --tp-input-background-color-hover: hsla(0, 0%, 0%, 0.55);
  --tp-input-foreground-color: hsla(0, 0%, 100%, 0.9);
  --tp-label-foreground-color: hsla(183, 74%, 29%, 0.9);
  --tp-monitor-background-color: hsla(0, 0%, 0%, 0.5);
  --tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.5);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-wall-background);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#three {
  display: block;
}

#layer-wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#layer-wrap > canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#chalks {
  width: 100vw;
  bottom: 9px;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 24px;
}

#chalks > button {
  width: 10%;
  max-width: 80px;
  height: 16px;
  border: 1px groove inherit;
  border-radius: 4px;
  margin-right: 8px;
}

#chalks > #eraser {
  height: 36px;
  border-radius: 4px 4px 8px 8px;
  background: var(--color-eraser);
}

/** Tweakpane */
.tp-dfwv {
  top: 24px;
  left: 24px;
  width: 360px;
}

.tp-lblv {
  flex-direction: column;
  align-items: flex-start;
}

.tp-lblv_v {
  width: 100%;
}

.tp-sldtxtv_t {
  max-width: 50px;
}

/** ローディング表示 */
#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--color-loading-background);
}
#loading.loaded {
  opacity: 0;
  visibility: hidden;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid var(--color-loading-border);
  border-right: 1.1em solid var(--color-loading-border);
  border-bottom: 1.1em solid var(--color-loading-border);
  border-left: 1.1em solid var(--color-white);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#debug {
  display: none;
  position: fixed;
  width: 200px;
  top: 4px;
  right: 4px;
  user-select: none;
  pointer-events: none;
  color: white;
  font-size: 0.1rem;
  font-family: monospace;
  background-color: var(--color-loading-background);
}

#debug > .header {
  font-weight: bold;
}
